<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css-forgotPw.css') }}">
    <title>Forgot Password</title>
</head>

<body>
    <div class="container">
        <h1>Change Password</h1>
        <form>
            <label for="id_emailAddress">Email-Address</label>
            <input type="email" name="DATA_fEmailAddress" id="id_emailAddress">
            <br>
            <label for="id_newPassword">New Password</label>
            <input type="password" name="DATA_fNewPassword" id="id_newPassword">
            <br>
            <label for="id_cNewPassword">Confirm New Password</label>
            <input type="password" name="DATA_fCNewPassword" id="id_cNewPassword">
        </form>
        <button type="button">Save New Password</button><br>
        <a href="/login">Go back</a>
    </div>
</body>

</html>