<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css-forgotPw.css') }}">
    <title>Forgot Password</title>
</head>

<body>
    <div class="container">
        <h1>Change Password</h1>
        <form>
            <label for="id_emailAddress">Email-Address</label>
            <input type="email" name="DATA_fEmailAddress" id="id_emailAddress">
            <br>
            <label for="id_newPassword">New Password</label>
            <input type="password" name="DATA_fNewPassword" id="id_newPassword">
            <br>
            <label for="id_cNewPassword">Confirm New Password</label>
            <input type="password" name="DATA_fCNewPassword" id="id_cNewPassword">
        </form>
        <button type="button" onclick="savePw()">Save New Password</button><br>
        <a href="/login">Go back</a>
    </div>
    <script>
        function savePw() {
            let email = document.getElementById("id_emailAddress").value;
            let newPw = document.getElementById("id_newPassword").value;
            let confimrePw = document.getElementById("id_cNewPassword").value;

            if (email != '' && newPw != '' && confimrePw != '') {
                if (newPw === confimrePw) {
                    fetch("/updatePw", {
                            method: "PATCH",
                            headers: {
                                "Content-Type": 'application/json'
                            },
                            body: JSON.stringify({
                                email: email,
                                newPw: newPw
                            })
                        })
                        .then(res => res.json())
                        .then(data => {
                            if (data.error) {
                                alert(data.error);
                            } else {
                                window.location.href = "/login";
                            }
                        })
                } else {
                    alert("The Passwords are not matching!");
                }
            } else {
                alert("Please enter all information!");
            }

        }
    </script>
</body>

</html>