<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css-FirstPage.css') }}">
  <title>To-Do</title>
</head>

<body>
  <div class="container">
    <nav>
      <a href="/to-do-list" class="active">Tasks</a>
      <a href="/account">Account</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Logout</a>
    </nav>

    <h1>To<span>-</span>Do</h1>
    <p class="subtitle">Click a task to mark it complete</p>

    <button onclick="addTask()" id="btnAddTask">Add new Task</button>
    <button onclick="deleteTask()" id="btnDeleteTask">Delete Task</button>
    <button onclick="cancelDelete()" id="btnCancelDeleteTask" style="display: none;">Save changes</button>
    <p id="deleteMessage" class="subtitle" style="color: red; display: none;">There is no undo after deleting a task</p>

    <div id="divAddTask" style="display: none;">
      <form action="#" id="formAddTask" method="POST">
        <label class="addTaskLabel">Task name:</label> <input type="text" name="taskName">
        <label class="addTaskLabel">Deadline:</label>
        <input type="date" name="taskDate" id="id_date">

        <label class="addTaskLabel">Choose a Type:</label>
        <div style="display:flex; gap:6px; flex-wrap:wrap;">
          <button onclick="getNormal('Normal')" type="button">normal</button>
          <button onclick="getImportant('Important')" type="button">important</button>
          <button onclick="getUrgent('Urgent')" type="button">urgent</button>
        </div>

        <label class="addTaskLabel">Chosen Type:</label>
        <p id="chosenType"></p>
      </form>

      <button onclick="saveTask()">Add Task</button>
      <button onclick="caneclTask()">Cancel</button>

      <form action="#" method="POST">
        <input type="hidden" name="typeNormal" id="id_normal">
      </form>

      <form action="#" method="POST">
        <input type="hidden" name="typeImportant" id="id_important">
      </form>

      <form action="#" method="POST">
        <input type="hidden" name="typeUrgent" id="id_urgent">
      </form>
    </div>

    <!-- Overdue Tasks -->
    {% if tasks_overdue %}
    <ul class="todo-list">
      <p class="section-label">Overdue</p>
      {% for task in tasks_overdue %}
      <li class="todo-item" id="overduetodo{{ loop.index }}">
        <input type="checkbox" id="overdueItem{{ loop.index }}">
        <label for="overdueItem{{ loop.index }}">{{ task.taskName }}
          <span class="badge">{{ task.taskType }}</span>
        </label>
        <div class="divDeleteTask" style="display: none;"><br><button
            onclick="overdueDeleteTask('{{ task.taskName }}', '{{ loop.index }}')">Delete</button></div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No overdue tasks!</p>
    {% endif %}

    <!-- Today Tasks -->
    {% if tasks_today %}
    <ul class="todo-list">
      <p class="section-label">Today</p>
      {% for task in tasks_today %}
      <li class="todo-item" id="todaytodo{{ loop.index }}">
        <input type="checkbox" id="todayItem{{ loop.index }}">
        <label for="todayItem{{ loop.index }}"> {{ task.taskName }}
          <span class="badge">{{ task.taskType }}</span>
        </label>
        <div class="divDeleteTask" style="display: none;"><br><button
            onclick="todayDeleteTask('{{ task.taskName }}', '{{ loop.index }}')">Delete</button></div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No tasks for Today!</p>
    {% endif %}

    <!-- Overdue Tasks -->
    {% if tasks_week %}
    <ul class="todo-list">
      <p class="section-label">Coming up</p>
      {% for task in tasks_week %}
      <li class="todo-item" id="comingtodo{{ loop.index }}">
        <input type="checkbox" id="comingItem{{ loop.index }}">
        <label for="comingItem{{ loop.index }}"> {{task.taskName }}
          <span class="badge">{{ task.taskType }}</span>
        </label>
        <div class="divDeleteTask" style="display: none;"><br><button
            onclick="comingDeleteTask('{{ task.taskName }}', '{{ loop.index }}')">Delete</button></div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No tasks coming up task!</p>
    {% endif %}
  </div>
  <script>
    function addTask() {
      document.getElementById("divAddTask").style.display = "block";

      document.getElementById("btnAddTask").disabled = true;
      document.getElementById("btnDeleteTask").disabled = true;
    }

    function caneclTask() {
      document.getElementById("divAddTask").style.display = "none";

      document.getElementById("btnAddTask").disabled = false;
      document.getElementById("btnDeleteTask").disabled = false;
    }

    function deleteTask() {
      document.querySelectorAll(".divDeleteTask").forEach(div => div.style.display = "block");
      document.getElementById("btnAddTask").disabled = true;
      document.getElementById("btnDeleteTask").disabled = true;

      document.getElementById("deleteMessage").style.display = "block";
      document.getElementById("btnCancelDeleteTask").style.display = "block";
    }

    function cancelDelete() {
      document.querySelectorAll(".divDeleteTask").forEach(div => div.style.display = "none");
      document.getElementById("btnAddTask").disabled = false;
      document.getElementById("btnDeleteTask").disabled = false;

      document.getElementById("deleteMessage").style.display = "none";
      document.getElementById("btnCancelDeleteTask").style.display = "none";

      location.reload();
    }

    function overdueDeleteTask(taskName, index) {
      document.getElementById("overduetodo" + index).classList.add("deletedTask");

      fetch("/deleteTask", {
          method: "DELETE",
          headers: {
            "Content-Type": 'application/json'
          },
          body: JSON.stringify({
            taskName: taskName
          })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }

    function todayDeleteTask(taskName, index) {
      document.getElementById("todaytodo" + index).classList.add("deletedTask");

      fetch("/deleteTask", {
          method: "DELETE",
          headers: {
            "Content-Type": 'application/json'
          },
          body: JSON.stringify({
            taskName: taskName
          })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }

    function comingDeleteTask(taskName, index) {
      document.getElementById("comingtodo" + index).classList.add("deletedTask");

      fetch("/deleteTask", {
          method: "DELETE",
          headers: {
            "Content-Type": 'application/json'
          },
          body: JSON.stringify({
            taskName: taskName
          })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }

    function getNormal(type) {
      document.getElementById("id_normal").value = type;
      document.getElementById("id_important").value = '';
      document.getElementById("id_urgent").value = '';

      document.getElementById("chosenType").innerText = type;
    }

    function getImportant(type) {
      document.getElementById("id_normal").value = '';
      document.getElementById("id_important").value = type;
      document.getElementById("id_urgent").value = '';

      document.getElementById("chosenType").innerText = type;
    }

    function getUrgent(type) {
      document.getElementById("id_normal").value = '';
      document.getElementById("id_important").value = type;
      document.getElementById("id_urgent").value = '';

      document.getElementById("chosenType").innerText = type;
    }

    function saveTask() {
      let type = "";

      let taskName = document.getElementsByName("taskName")[0].value;
      let taskDate = document.getElementsByName("taskDate")[0].value;

      let normalType = document.getElementsByName("typeNormal")[0].value;
      let importantType = document.getElementsByName("typeImportant")[0].value;
      let urgentType = document.getElementsByName("typeUrgent")[0].value;

      if (taskName != "" | taskDate != "" | normalType != "" | importantType != "" | urgentType != "") {
        if (normalType != "") {
          type = normalType;
        } else if (importantType != "") {
          type = importantType
        } else if (urgentType != "") {
          type = urgentType
        }

        fetch("/addTask", {
            method: "PATCH",
            headers: {
              "Content-Type": 'application/json'
            },
            body: JSON.stringify({
              taskName: taskName,
              taskDate: taskDate,
              type: type
            })
          })
          .then(res => res.json())
          .then(data => {
            if (data.error) {
              alert(data.error)
            } else {
              location.reload();
            }
          })
          .catch(err => console.error("Request failed:", err));
      } else {
        alert("Please enter all information!")
      }
    }
  </script>
</body>

</html>